*{
    font-family: 'Sansita Swashed', cursive;
    font-size: 18px;
}
body{
    margin:0;
    background-image: url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 300px;
    background-color: #4e6e4d;
    padding: 1rem;
    border-radius: 4px;
}
label{
    line-height: 40px;
}
table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;   
}
th, td{
    padding: 0.5vw;
}
table{
    margin-top: 15px;
}
label, button, table, h1{
    color: white;
}
button{
    background-color: black;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
h1{
    text-align: center;
}